@import "../../assets/styles/index.scss";

$border-color: grey;

.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  background: white;
  margin-bottom: 12px;
  border-radius: 3px;
  border: $border-color solid 1px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 11px -5px #000000;

  @include bp-sm {
    flex-direction: row;
  }
  &:hover {}
}
.step {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $border-color;
  padding: 10px 0;

  .stepDetail {
    margin: 2px 0;
  }
}
.content,
.details {
  padding: 8px;
  border: $border-color solid 0;
}

.content {
  flex-grow: 1;

  .contentHeader {
    margin: 8px 0;
    display: block;
    font-weight: bold;
  }
}
.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  border-top-width: 1px;
  @include bp-sm {
    border-width: 0;
    border-left-width: 1px;
  }

  .price {
    margin: 4px 0 0;
    font-weight: bold;
  }
  .btn {
    margin: 8px 0 0;
  }
}

.arrow {
  color: #999;
}