.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  background: white;
  margin-bottom: 12px;
  border-radius: 3px;
  border: 1px solid grey;

  // box-shadow: rgb(37 42 49 / 16%) 0px 0px 2px 0px, rgb(37 42 49 / 12%) 0px 1px 4px 0px;
}