.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // & > div {
  //   flex: 1 0;
  //   background: yellow;

  //   & > div {
  //     background: red;
  //     width: 100%;
  //   }
  // }
}
.input {
  background: white;
  border-radius: 4px;
  outline: none;
  border: 1px solid #d0d0d0;
  padding: 10px 12px;
  color: grey;
  font-size: 16px;
  flex: 1 0;
}